<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <item view="HomeView" id="home" description="msg:///menu_config.home.description"
          title="msg:///menu_config.home.title" icon="vaadin:home"/>

    <item view="AiConversation.start"
          title="msg://com.company.crm.ai.view.conversation/aiConversationStarterView.menuTitle" icon="crm:sparkles"/>

    <separator/>

    <item view="UserTask.list" id="tasks"
          title="msg:///menu_config.tasks.title" icon="vaadin:check-square"/>

    <menu opened="true" id="catalog"
          title="msg:///menu_config.catalog.title" icon="vaadin:open-book">
        <item view="Category.list" id="categories"
              title="msg:///menu_config.catalog.categories.title" icon="vaadin:list-ul"/>
        <item view="CategoryItem.list" id="products"
              title="msg:///menu_config.catalog.categoryItems.title" icon="vaadin:cubes"/>
    </menu>

    <item view="Client.list" id="clients" title="msg:///menu_config.clients.title" icon="vaadin:users"/>

    <item view="Order.list" id="orders" title="msg:///menu_config.orders.title" icon="vaadin:cart"/>

    <menu opened="true" id="finance" title="msg:///menu_config.finance.title" icon="vaadin:pie-chart">
        <item view="Invoice.list" id="invoices" title="msg:///menu_config.finance.invoices.title"
              icon="vaadin:file-text"/>
        <item view="Payment.list" id="payments" title="msg:///menu_config.finance.payments.title" icon="vaadin:wallet"/>
    </menu>

    <menu opened="true" id="administration"
          description="msg:///menu_config.administration.description"
          title="msg:///menu_config.administration.title" icon="vaadin:cog">
        <item view="dynat_CategoryView.list" id="dynamic_attributes"
              title="msg://io.jmix.dynattrflowui.panel/category" icon="vaadin:table"/>
        <item view="appSettings.view" id="app_settings"
              title="msg://io.jmix.appsettingsflowui.view.appsettings/appSettingsEntityView.menu" icon="vaadin:wrench"/>
        <item view="AiConversation.list" id="ai_conversations"
              title="msg://com.company.crm.ai.view.conversation/aiConversationListView.title" icon="vaadin:comments"/>
        <menu id="reports" title="msg://io.jmix.reportsflowui/menu.reports.title" icon="vaadin:modal-list">
            <item view="report_Report.list" title="msg://io.jmix.reportsflowui/reportListView.menu"/>
            <item view="report_ReportGroup.list" title="msg://io.jmix.reportsflowui/reportGroupListView.menu"/>
            <item view="report_ReportRunView" title="msg://io.jmix.reportsflowui/reportRunView.menu"/>
            <item view="report_ReportTableView" title="msg://io.jmix.reportsflowui/reportTableView.menu"/>
        </menu>
    </menu>
</menu-config>