html {
    --lumo-clickable-cursor: pointer;

    --lumo-line-height-m: 1.4;
    --lumo-line-height-s: 1.2;
    --lumo-line-height-xs: 1.1;

    --lumo-border-radius: 0.5em;
}

.clickable {
    cursor: var(--lumo-clickable-cursor);
}

.sortable-grab-handle {
    cursor: grab;
}

.crm-card-background-success {
    background: linear-gradient(45deg, var(--lumo-base-color), var(--lumo-primary-color-10pct));
}

.crm-card-background-error {
    background: linear-gradient(45deg, var(--lumo-base-color), var(--lumo-error-color-10pct));
}

.crm-card-background-default {
    background: linear-gradient(45deg, var(--lumo-base-color), var(--lumo-contrast-10pct));
}
